<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
    <ion-title>Add My Product</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Product Name</ion-label>
    <ion-input [(ngModel)]="productData.productName" name="productName" type="text" class="form-control"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Type</ion-label>
    <ion-input [(ngModel)]="productData.type" name="type" type="text" class="form-control"></ion-input>
  </ion-item>
<ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input [(ngModel)]="productData.price" name="price" type="text" class="form-control"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Sector</ion-label>
    <ion-input [(ngModel)]="productData.sector" name="sector" type="text" class="form-control"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Province</ion-label>
    <ion-input [(ngModel)]="productData.province" name="province" type="text" class="form-control"></ion-input>
  </ion-item>
  <ion-button  padding expand="block" (click)="addProduct()">Accept</ion-button>
</ion-content>